<Project>
    <PropertyGroup>
        <RrInstallDir>/mnt/Data/SteamLibrary/steamapps/common/Railroader</RrInstallDir>
        <ReferencePath>
            $(RrInstallDir)/Railroader_Data/Managed/;
            $(RrInstallDir)/Railroader_Data/Managed/UnityModManager/;
        </ReferencePath>
        <AssemblySearchPaths>$(AssemblySearchPaths);$(ReferencePath);</AssemblySearchPaths>
    </PropertyGroup>
    <Target Name="PostBuild" AfterTargets="PostBuildEvent">
        <!-- Copy to game folder -->
        <Copy SourceFiles="$(TargetPath);README.md;info.json;LICENSE" DestinationFolder="$(RrInstallDir)/Mods/tostilities" />
    </Target>
</Project>